<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="AdvertisingDbConnection"
             connectionString="Host=172.20.7.53;Port=5432;Database=db2992_20;User Id=st2992;Password=pwd2992;Search Path=pm11,public"
             providerName="Npgsql" />
	</connectionStrings>
</configuration>